@import 'reset';
@import 'vars';
@import 'container/container';
@import 'animations/animations';


@import "winComment/winComment";
@import "title/title";
@import "video-info/video-info";
@import "winner/winner";
@import "search/search";
@import "button/button";

//BOX-SIZING SETTINGS
html {
  box-sizing: border-box;
  font-family: Helvetica;
}

b {
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

//TEMPLATE IE FALLBACK
template {
  display: none;
}