.winner.animate-in {
  animation: bounceInUp .5s ease-in-out;
}
.winner {
  &__button {
	margin-bottom: 30px;
  }
  &__info {
	margin-bottom: 10px;
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	span {
	  font-weight: normal;
	  font-size: 18px;
	}
  }
}